@media(max-width:500px){
    ul{
        margin: 0 auto;
    }
    .img{
        width: 100%;
        text-align: center;
    }
.main{
    margin: 0px !important;
    padding: 16px;
    overflow-wrap: break-word;
    width: 100%;
}
.linha{
    content: "";
    display: block;
    width: 322px;
    height: 10px;
    background: #000000;
    box-shadow: 0px 4px 36px 18px rgba(219, 0, 255, 0.25);
    position: absolute;
    right: 55px;
}
.botao{
    margin-top: 20px;
}
picture img{
    width: 446px;
    height: 429px;
    padding: 16px;
}
#section-1::after{
    display: none;
}
main h1{
    font-size: 4em !important;
    
}
main p{
    font-size: 1.8em !important;
}
}